td{
    font-size: 20px;
}


li{
    font-size: 18px;
}

a{
    font-size: 18px;
}

body {
    margin: 35px;
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

#cv{
    background: rgb(255, 248, 238);
    padding: 15px;
}

#cv {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "titulo foto"
        "left right";
    gap: 80px;
}

@media (max-width: 600px) {
    #cv {
        grid-template-columns: 1fr;
        grid-template-areas:
            "titulo"
            "foto"
            "left"
            "right";
    }
}

#header {
    grid-area: titulo;
}

#foto {
    grid-area: foto;
    justify-self: middle;
}

#izquierda {
    grid-area: left;
}

#derecha {
    grid-area: right;
}


#educacion {
    justify-self: center;
}